body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:black;
    margin:0;padding:0;box-sizing:content-box;
    }
    body::before{
content:" ";
position: absolute;
height:100%;
width:100%;
top:0;
left:0;
background-image:linear-gradient(to right,rgb(0, 255, 34), black);
clip-path:circle(32% at 82% 99%);
animation:bfr 10s ease-in-out infinite;
z-index:-3;
}
@keyframes bfr {
0% {clip-path:circle(32% at 82% 99%);}
50% {clip-path:circle(32% at 82% -10%);}
100% {clip-path:circle(32% at 82% 99%);}
}

body::after{
content:" ";position: absolute;
height:100%;width:100%;top:0;left:0;
background-image:linear-gradient(to left,white,red,black);
clip-path:circle(39% at 17% -12%);
animation: afr 10s ease-in-out infinite;
z-index: -3;
}
    @keyframes afr {
0% {clip-path:circle(39% at 17% -12%);}
50% {clip-path:circle(39% at 17% 99%);}
100% {clip-path:circle(39% at 17% -12%);}
}

#addnew{
    position: absolute;
    top:5%;right:4%;box-shadow:5px 5px 5px black;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Moves the element back by 50% of its own width and height */
  }